@import "tailwindcss";

@theme {
  --color-accent: #8b5cf6;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

body {
  background-color: #f8fafc; /* tailwind slate-50 */
}
